body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Change background color */
}

header {
    background-color: #06C167;
    color: white;
    padding: 10px;
    text-align: center;
}

.logo {
    font-size: 24px;
}

.nav-bar {
    margin-top: 10px;
}

.nav-bar ul {
    list-style-type: none;
    padding: 0;
}

.nav-bar ul li {
    display: inline;
    margin: 0 10px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a.active {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.para {
    font-size: 18px;
}
